WpfAppBiler/Connected Services/ServiceReference1/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BilService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BilService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Bil">
    <xs:sequence>
      <xs:element minOccurs="0" name="antalDoors" type="xs:int" />
      <xs:element minOccurs="0" name="bilNavn" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="motor" nillable="true" type="tns:Motor" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Bil" nillable="true" type="tns:Bil" />
  <xs:complexType name="Motor">
    <xs:sequence>
      <xs:element minOccurs="0" name="HK" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Motor" nillable="true" type="tns:Motor" />
  <xs:complexType name="ArrayOfBil">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Bil" nillable="true" type="tns:Bil" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBil" nillable="true" type="tns:ArrayOfBil" />
</xs:schema>